[Desktop Entry]
Type=Application
Name=Linux_PulseAudioDashboard
Exec=/usr/bin/python3 /home/pkorycin/PycharmProjects/Linux_PulseAudioDashboard/script2.py
X-GNOME-Autostart-enabled=true
